ul.navItems li.navTop {
  display: inline-block; }
  ul.navItems li.navTop a {
    text-decoration: none;
    color: #FCD707;
    font-family: "Dosis", sans-serif;
    font-size: 25px;
    padding-left: 10px; }
    ul.navItems li.navTop a:hover {
      text-decoration: none;
      color: #02779E; }

img.logo {
  width: 140px;
  margin: 0 auto;
  display: inline-block;
  margin-top: 58px;
  margin-bottom: 4px; }

body {
  background: #EEEEEC;
  margin: 0;
  padding: 0; }

.header {
  background: #03A6DC;
  border-bottom: 4px solid #02779E; }

h1.appName {
  font-family: "Fugaz One", cursive;
  color: #FCD707;
  font-size: 40px;
  display: inline-block;
  margin-left: 20px;
  margin-right: -40px;
  text-shadow: 4px 4px #02779E; }
