// h2.favoriteTitle {
// 	font-family:$title-font;
// 	text-align:center;
// 	color:#03A6DC;
// 	text-shadow: 4px 4px $dark-blue;
// 	font-size:45px;
// 	padding-top:20px;
// }

h3.favTitle {
	font-family:$title-font;
	text-align:center;
	color:#03A6DC;
	text-shadow: 4px 4px $dark-blue;
	font-size:45px;
}

p.gameFav {
	text-align:center;
	font-family:$text-font;
	font-size:22px;
	color:$dark-blue;
	margin-left: 30px;
	margin-right:30px;
	margin-bottom:20px;
}