ul.navItems{
	text-align:center;
	margin-top:139px;
	li.navTop {
		display:inline-block;
	

		a {
			text-decoration: none;
			color:$font-color;
			font-family: $text-font;
			font-size: 35px;
			padding-left: 40px;
			
			&:hover {
				text-decoration: none;
				color:$dark-blue;
			}
		}
	}
}