$background:#EEEEEC;
$title-font:'Fugaz One', cursive;
$font-color:#FCD707;
$dark-blue:#02779E;
$text-font:'Dosis', sans-serif;

@import 'nav';
@import 'images';


body{
	background:$background;
	margin:0;
	padding:0;
}

.header {
	background:#03A6DC;
	border-bottom:4px solid $dark-blue;

}

h1.appName {
	font-family:$title-font;
	color:$font-color;
	font-size:40px;
	display:inline-block;
	margin-left:20px;
	margin-right:-40px;
	text-shadow: 4px 4px $dark-blue;
}


