<h2 class="addTitle">Share Your Game</h2>

	<form ng-submit="controller.submit()">
		<input class="form-control" type="text" placeholder="Name" ng-model="controller.form.title">

		<input class="form-control" type="text" placeholder="Number of Players" ng-model="controller.form.players">

		<input class="form-control" type="text" placeholder="Buzz Level" ng-model="controller.form.buzz">

		<input class="form-control" type="text" placeholder="Supplies" ng-model="controller.form.supplies">

		<textarea class="form-control" id="comment" placeholder="How To Play" ng-model="controller.form.rules"></textarea>

		<button type="submit" class="btn btn-primary">Add</button>

	</form>