<div class="backgroundHome">
<h2 class="homeTitle">Pick/Favorite a Game</h2>

	<div class="home row">
		<div class="col-md-6 allGames" ng-repeat="game in controller.games | orderBy:'title'">
			<a class="hmTitleLink" href="#/detail/{{game.id}}"><h3 class="gameHmTitle">{{game.title}}</h3></a>
			<div class="icon">
				<i ng-click="controller.favoriteGame(game)" ng-init="count=0" class="fa fa-star-o" aria-hidden="true"></i>
			</div>
			<p class="favorites">{{game.favorited}} Favorites</p>
		</div>
	</div>
</div>	